<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./page.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>  
     <div class="container">
        <div id="app">       
            <div class="img-thumbnail clearfix col-md-4 col-12" style="padding:20px">
                <h4 class="bg-primary rounded text-center text-white" style="padding:10px">書籍上架</h4>
                <p>
                    <input type="button" value="上架" class="btn btn-success" />
                </p>
                <div class="form-group form-row">
                    <label for="txtBookName">書名</label>&nbsp;
                    <input type="text" id="txtBookName" v-model="txtBookName" required class="form-control" />
                </div>
                <div class="form-group form-row">
                    <!-- textarea -->
                    <label for="txtBookDesc">內容介紹</label>&nbsp;
                    <textarea id="txtBookDesc" v-model="txtBookDesc" required class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label for="txtBookPrice">單價</label>
                    <input type="number" id="txtBookPrice" v-model="txtBookPrice" required class="form-control" />
                </div>
                <div class="form-group">
                    <!-- range -->
                    <label for="txtBookCount">
                        數量
                    </label>
                    <input type="range" id="txtBookCount" v-model="txtBookCount" class="custom-range" min="1" max="100" value="1" />
                    <div id="CountNum" class="float-right">{{ txtBookCount }}</div>
                </div>
                <div class="form-group">
                    <!-- select -->
                    <label for="selectBookCat">書籍類別</label>
                    <select id="selectBookCat" v-model="selectBookCat" class="form-control">
                        <option value="">請選擇</option>
                        <option value="1">科技類</option>
                        <option value="2">旅遊類</option>
                        <option value="3">大自然</option>
                        <option value="4">影視類</option>
                    </select>
                </div>
                <div class="form-group">
                    <!-- radio -->
                    <label for="SecretValue">機密性</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" v-model="SecretValue" id="Secret1" value="High" checked>
                        <label class="form-check-label" for="Secret1">
                            高
                        </label>
                      </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" v-model="SecretValue" id="Secret2" value="Medium">
                        <label class="form-check-label" for="Secret2">
                            中
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" v-model="SecretValue" id="Secret3" value="Low">
                        <label class="form-check-label" for="Secret3">
                            低
                        </label>
                    </div>                    
                </div>
                <div class="form-group">
                    <!-- checkbox -->
                    <label for="chkUserValues">
                        可借
                    </label>
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" id="chkUser1" v-model="chkUserValues" value="teacher"/>
                        <label for="chkUser1" class="custom-control-label">教職人員</label>
                    </div>
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" id="chkUser2" v-model="chkUserValues" value="student"/>
                        <label for="chkUser2" class="custom-control-label">學生</label>
                    </div>
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" id="chkUser3" v-model="chkUserValues" value="people"/>
                        <label for="chkUser3" class="custom-control-label">一般民眾</label>
                    </div>
                </div>               
                
                <div class="form-group">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="chkPublish" v-model="chkPublish" value="1"/>
                        <label for="chkPublish" class="custom-control-label">發佈</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="chkSprice" v-model="chkSprice" value="1" />
                        <label for="chkSprice" class="custom-control-label">提供會員價</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="custom-file">
                        <input type="file" id="fileBookPic" name="fileBookPic" class="custom-file-label" v-on:change="handelFileUpload"/>
                        <label for="fileBookPic" class="custom-file-label">圖片上傳</label>
                        
                    </div>
                </div>
                
            </div>

            <div>
                <span>上架內容預覽:</span>
                <ul>
                    <li>書名:{{ txtBookName }}</li>
                    <li>內容介紹:{{ txtBookDesc }}</li>
                    <li>單價:{{ txtBookPrice }}</li>
                    <li>數量:{{ txtBookCount }}</li>
                    <li>書籍類別:{{ selectBookCat }}</li>
                    <li>機密性:{{ SecretValue }}</li>
                    <li>可借:{{ chkUserValues }}</li>
                    <li>發佈:{{ chkPublish }}</li>
                    <li>提供會員價:{{ chkSprice }}</li>
                    <li>圖片預覽:
                        <div v-if="preview">
                            <img v-bind:src="preview">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
     </div>    
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script>
    <script type="text/javascript" src="./app.js"></script>
</body>
</html>